<div class="modal-body">
  <h5 class="cajaModal text-center mt-4 texto-mayusculas">
    {{ leyenda }} Tipo de Causa
  </h5>
  <label class="control-label"
    >Campos obligatorios a llenar con <span class="required"></span>
    <!-- Icono de información -->
  </label>
  <form [formGroup]="formularioCausa">
    <div class="row">
      <div class="form-group">
        <label for="tipoTC"
          >Tipo de causa <span class="required"></span>
          <span
            class="info-icon"
            data-title="Agregar el nombre de la cusa que propicia cierta enfermedad en la planta"
            >?</span
          >
          <!-- Icono de información -->
        </label>
        <input
          id="tipoTC"
          name="tipoTC"
          class="form-control"
          formControlName="tipoTC"
          type="text"
          [ngClass]="esCampoValido('tipoTC')"
          (input)="
            formularioCausa
              .get('tipoTC')
              .setValue(
                capitalizeFirstLetter(formularioCausa.get('tipoTC').value)
              )
          "
          autocomplete="off"
        />

        <div class="invalid-feedback">
          <!--aqui validacion-->
          <span *ngIf="formularioCausa.get('tipoTC')?.errors?.['required']"
            >Requiere un nombre</span
          >
        </div>
      </div>

      <div class="form-group">
        <label for="nombre"
          >Definición <span class="required"></span>
          <span
            class="info-icon"
            data-title="Agregar una definición o descripción informativa sobre la causa"
            >?</span
          >
          <!-- Icono de información -->
        </label>

        <textarea
          type="text"
          rows="10"
          class="form-control"
          placeholder="Nombre"
          formControlName="definicionTipoTC"
          [class]="esCampoValido('definicionTipoTC')"
          required
          (input)="
            formularioCausa
              .get('definicionTipoTC')
              .setValue(
                capitalizeFirstLetter(
                  formularioCausa.get('definicionTipoTC').value
                )
              )
          "
        >
      ></textarea
        >
        <div class="invalid-feedback">
          <!--aqui validacion-->
          <span
            *ngIf="formularioCausa.get('definicionTipoTC')?.errors?.['required']"
            >Requiere un nombre</span
          >
        </div>
      </div>

      <div class="form-group mb-3">
        <label class="control-label" for="file"
          >Imagen <span class="required"></span>
          <span
            class="info-icon"
            data-title="Agregar imagen relacionada con el tipo de Causa"
            >?</span
          >
          <!-- Icono de información -->
        </label>
        <input
          class="form-control"
          type="file"
          accept="image/*"
          id="urlTC"
          name="imagen"
          formControlName="urlTC"
          (change)="SeleccionarImagen($event)"
          
        />
      </div>
      <div class="text-center mb-4">
        <img
          width="150px"
          height="150px"
          class="img-fluid"
          [src]="imagenMostrar"
          *ngIf="imagenMostrar != undefined"
        />
      </div>
    </div>
    <div class="text-center mb-3 mt-2">
      <!-- Centrar los botones y agregar espacio inferior -->
      <button
        type="button"
        class="btn btnguardarModal"
        (click)="guardar()"
        *ngIf="leyenda == 'Registrar'"
      >
        <i class="fas fa-check"></i>Guardar
      </button>
      <button
        type="button"
        class="btn btnguardarModal"
        *ngIf="leyenda == 'Modificar'"
        (click)="modificar()"
      >
        <i class="fas fa-check"></i>{{ leyenda }}
      </button>
      <span class="mx-2"></span>
      <!-- Agregar un espacio horizontal entre los botones -->
      <button
        type="button"
        class="btn btnCerrar"
        aria-hidden="true"
        (click)="cerrarModal()"
      >
        <i class="dripicons-cross"></i>cerrar
      </button>
    </div>
  </form>
</div>
