<div class="modal-body">
  <h5 class="cajaModal text-center mt-4 texto-mayusculas">
    {{ leyenda }} Planta
  </h5>
  <form [formGroup]="formularioPlanta">
    <div class="row">

      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label">Nombre Científico <span class="required"></span>
          <span class="info-icon" data-title="Agregue el nombre científico de la planta Ej. Solanum lycopersicum.">?</span> <!-- Icono de información -->
        </label>
        <input
          class="form-control"
          type="text"
          id="nombreCientifico"
          formControlName="nombreCientifico"
          [ngClass]="esCampoValido('nombreCientifico')"
          (input)="contarCaracteres('nombreCientifico')"
          (input)="formularioPlanta.get('nombreCientifico').setValue(capitalizeFirstLetter(formularioPlanta.get('nombreCientifico').value))"
        />
        <div id="contador" >{{ mensaje['nombreCientifico'] }}</div>
        <div class="invalid-feedback">
          <span
            *ngIf="formularioPlanta.get('nombreCientifico')?.errors?.['required']"
            >Requiere un nombre de planta</span
          >
        </div>
      </div>

      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label">Nombre Comun <span class="required"></span>
          <span class="info-icon" data-title="Agregue el nombre común de la planta Ej. Tomate.">?</span> <!-- Icono de información -->
        </label>
        <input
          class="form-control text-capitalize"
          type="text"
          id="nombreComunPlanta"
          formControlName="nombreComunPlanta"
          [ngClass]="esCampoValido('nombreComunPlanta')"
          (input)="contarCaracteres('nombreComunPlanta')"
          (input)="formularioPlanta.get('nombreComunPlanta').setValue(capitalizeFirstLetter(formularioPlanta.get('nombreComunPlanta').value))"
        />
        <div id="contador" >{{ mensaje['nombreComunPlanta'] }}</div>
        <div class="invalid-feedback">
          <span
            *ngIf="formularioPlanta.get('nombreComun')?.errors?.['required']"
            >Requiere un nombre de planta</span
          >
        </div>
      </div>

      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label">Seleccionar Familia <span class="required"></span>
          <span class="info-icon" data-title="En este campo seleccione la familia a la que pertenece la planta.">?</span> <!-- Icono de información -->
        </label>
        <ng-select
          class="form-control"
          id="idFamilia"
          formControlName="idFamilia"
          [ngClass]="esCampoValido('idFamilia')"
          placeholder="Selecciona una familia"
        >
          <ng-option
            *ngFor="let familia of listFamilia"
            [value]="familia.idfamilia"
            >{{ familia.nombreFamilia }}</ng-option
          >
        </ng-select>

        <div class="invalid-feedback">
          <span
            *ngIf="formularioPlanta.get('idFamilia')?.errors?.['required']"
            >Requiere una Familia</span
          >
        </div>
      </div>

      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label">Seleccionar Tipo Planta <span class="required"></span>
          <span class="info-icon" data-title="En este campo seleccione el tipo al cual pertenece la planta.">?</span> <!-- Icono de información -->
        </label>
        <ng-select
          class="form-control"
          id="idTipoPlanta"
          formControlName="idTipoPlanta"
          [ngClass]="esCampoValido('idTipoPlanta')"
          placeholder="Selecciona un tipo de planta"
        >
          <ng-option
            *ngFor="let tipoP of listTipoPlanta"
            [value]="tipoP.idTipoPlanta"
            >{{ tipoP.tipoPlanta }}</ng-option
          >
        </ng-select>

        <div class="invalid-feedback">
          <span
            *ngIf="formularioPlanta.get('idTipoPlanta')?.errors?.['required']"
            >Requiere un tipo de planta</span
          >
        </div>
      </div>

      <div class="col-md-12">
        <label class="control-label">Descripción <span class="required"></span>
          <span class="info-icon" data-title="En este campo agregue una descripción sobre la planta.">?</span> <!-- Icono de información -->
        </label>
        <textarea
          class="form-control"
          type="text"
          id="descripcionPlanta"
          formControlName="descripcionPlanta"
          [ngClass]="esCampoValido('descripcionPlanta')"
          (input)="contarCaracteres('descripcionPlanta')"
          (input)="formularioPlanta.get('descripcionPlanta').setValue(capitalizeFirstLetter(formularioPlanta.get('descripcionPlanta').value))"
        ></textarea>
        <div id="contador" >{{ mensaje['descripcionPlanta'] }}</div>
        <div class="invalid-feedback">
          <span
            *ngIf="formularioPlanta.get('descripcionPlanta')?.errors?.['required']"
            >Requiere una descripcion de la Planta</span
          >
        </div>
      </div>

      <div class="col-md-12">
        <label class="control-label">Historia <span class="required"></span>
          <span class="info-icon" data-title="En este campo agregue un poco sobre historia de la planta.">?</span> <!-- Icono de información -->
        </label>
        <textarea
          class="form-control"
          type="text"
          id="historia"
          formControlName="historia"
          [ngClass]="esCampoValido('historia')"
          (input)="contarCaracteres('historia')"
          (input)="formularioPlanta.get('historia').setValue(capitalizeFirstLetter(formularioPlanta.get('historia').value))"
        ></textarea>
        <div id="contador" >{{ mensaje['historia'] }}</div>
        <div class="invalid-feedback">
          <span
            *ngIf="formularioPlanta.get('historia')?.errors?.['required']"
            >Requiere una hisotoria de la Planta</span
          >
        </div>
      </div>



      <div class="col-md-12">
        <label class="control-label">Seleccionar Imagen <span class="required"></span>
          <span class="info-icon" data-title="En este campo agrege una imagen representativa de planta.">?</span> <!-- Icono de información -->
        </label>
        <input
          class="form-control"
          type="file"
          id="urlPlanta"
          accept="image/*"
          formControlName="urlPlanta"
          (change)="SeleccionarImagen($event)"
          [ngClass]="esCampoValido('urlPlanta')"
        />
        <div class="invalid-feedback">
          <span
            *ngIf="formularioPlanta.get('urlPlanta')?.errors?.['required']"
            >Requiere una imagen de la planta</span
          >
        </div>
      </div>

      <div class="col-md-12 text-center">
        <img
          width="100px"
          height="100px"
          class="img-fluid"
          [src]="imagenMostrar"
          *ngIf="imagenMostrar != undefined"
        />
      </div>
    </div>
    <div class="text-center mb-3 mt-2">
      <!-- Centrar los botones y agregar espacio inferior -->
      <button
        type="button"
        class="btn btnguardarModal"
        (click)="guardar()"
        *ngIf="leyenda == 'Registrar'"
      >
        <i class="fas fa-check"></i>Guardar
      </button>
      <button
        type="button"
        class="btn btnguardarModal"
        *ngIf="leyenda == 'Modificar'"
        (click)="modificar()"
      >
        <i class="fas fa-check"></i>{{ leyenda }}
      </button>
      <span class="mx-2"></span>
      <!-- Agregar un espacio horizontal entre los botones -->
      <button
        type="button"
        class="btn btnCerrar"
        aria-hidden="true"
        (click)="cerrarModal()"
      >
        <i class="dripicons-cross"></i>Cerrar
      </button>
    </div>
  </form>
</div>
<!-- Modal -->
