.card-title {
    text-align: justify;
    margin: 0 auto;
    max-width: 1000px; /* Establece el ancho máximo para controlar la extensión del texto */
  }
  .card-image {
    width: 200px; /* El ancho deseado para las imágenes */
    height: 250px; /* La altura deseada para las imágenes */
    object-fit: cover; /* Esto asegurará que la imagen se ajuste correctamente en el espacio especificado sin distorsión */
  }
  .product-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Agrega una sombra suave al pasar el cursor */
    transform: scale(1.01); /* Escala la tarjeta ligeramente al pasar el cursor */
    transition: box-shadow 0.3s, transform 0.3s; /* Agrega una transición suave para el efecto */
    background-color: #faeaea;
  }
  .product-card {
    background-color: #eaf9fa;
  }
  .product-img img {
    max-width: 100%; /* Establece el ancho máximo para que las imágenes no se extiendan más allá de su contenedor */
    max-height: 100%; /* Establece la altura máxima para que las imágenes no se extiendan más allá de su contenedor */
    object-fit: contain; /* Esto asegurará que la imagen se ajuste dentro del espacio especificado sin recortarla ni distorsionarla */
  }
  .color {
    border: 1px solid #000;
  }
