<div class="table-responsive mb-0 mt-2">
  <table datatable
  [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table  row-border hover " width="100%" >
    <thead class="tabla">
      <tr>
        <th >Planta</th>
        <th >Enfermedad</th>
        <th >Tipo de Causa</th>
        <th >Descripcion de Causa</th>
        <th >Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detalleC of listaDetalle" >
        <td  >{{detalleC.planta.nombreComunPlanta}}</td>
        <td   >{{detalleC.enfermedad.nombreComunEnfermedad}}</td>
        <td  >{{detalleC.tipoCausa.tipoTC}}</td>
        <td >{{ truncateText(detalleC.descripcionCausa, 80) }}</td>
        <td class="text-sm-end" >

            <div class="d-flex">
              <div class="col-sm-4 mt-1 "><app-VerDetalle [detalledto]="detalleC"></app-VerDetalle></div>
              <div class="col-sm-4"><button type="button" class="btn btn-sm btn-rounded"><app-nuevo [leyenda]="'Editar '" [detalledto]="detalleC"[titulo]="''" [modo]="'Editar'" ></app-nuevo> </button> </div>
              <div class="col-sm-4 mt-1"><button type="button" class="btn btnEliminar btn-sm mb-2 mr-2 btn-rounded" (click)=" eliminarDetalle(detalleC)"><i class="fas fa-trash-alt" ></i></button></div>
            </div>

        </td>
      </tr>
    </tbody>
  </table>
</div>

