<div class="table-responsive mb-0 mt-2">
  <table class="table table-centered table-nowrap " height="50%">
    <thead class="table-light">
      <tr>
        <th class="align-middle" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Enfermedad</th>
        <th class="align-middle" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Tipo de Causa</th>
        <th class="align-middle " >Descripcion de Causa</th>
        <th class="align-middle" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">Acción</th>
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor="let detalleC of detalleCausa | filter:queryString | paginate:{itemsPerPage: 10, currentPage: p}" >
        <td class="align-middle" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{detalleC.enfermedad.nombreEnfermedad}}</td>
        <td class="align-middle" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{detalleC.tipoCausa.nombreComunTC}}</td>
        <td class="align-middle " >{{detalleC.descripcionCausa}}</td>
        <td class="text-sm-end">
          
            <button type="button" class="btn btn-sm btn-rounded" ><app-nuevo [leyenda]="'Editar '" [detalledto]="detalleC"[titulo]="'Editar'" [modo]="'Editar'" [selectedEnfermedadId]="detalleC.enfermedad.idenfermedad" [selectedTipoCausaId]="detalleC.tipoCausa.idtipoCausa"></app-nuevo></button>
            <button type="button" class="btn btn-primary btn-sm  btn-rounded" (click)="eliminar(detalleC.iddetalleCausa)"><i class="fas fa-trash-alt"></i>Eliminar</button>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>
