<div class="container-fluid">
    <div class="row">
      <div class="card custom-card">
            <h1 class="card-title text-center">BIENVENIDO  USUARIO </h1>
    </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card custom-card ">
          <div class="card-body">
            <div class="d-flex">
              <div class="me-2">
                  <span class="badge bg-label-primary p-2"> <img src="assets/images/small/plan.jpg" alt="" class="img-fluid mr-2 float-right"></span>
              </div>
              <div class="d-flex flex-column">
                <h5 class="card-title">Plantas</h5>
                <p class="text-muted text-justify">Total: {{ totalPlantas }}</p>
                <p class="text-muted text-justify">Estudian también las alteraciones que se producen en las plantas por exceso, desequilibrio o carencia de ciertos factores físicos o químicos, como la temperatura, la humedad y los nutrientes. Los daños que sufren las plantas a causa de los insectos, el hombre u otros animales, por lo general no se incluyen en el campo de estudio de la fitopatología. La fitopatología utiliza las técnicas básicas y los conocimientos de la botánica, micología, bacteriología, virología, Hematología, anatomía vegetal, fisiología vegetal, genética, bioquímica, horticultura, edafología, silvicultura, química, física, meteorología y muchas otras ramas de la ciencia</p>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card custom-card ">
          <div class="card-body">
            <div class="d-flex">
              <div class="me-2">
                  <span class="badge bg-label-primary p-2"> <img src="assets/images/small/enferma.jpg" alt="" class="img-fluid mr-2 float-right"></span>
              </div>
              <div class="d-flex flex-column">
                <h5 class="card-title">Enfermedades</h5>
                <p class="card-text ml-2  text-center ">Total: {{ totalEnfermedades }}</p>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card custom-card ">
          <div class="card-body">
            <div class="d-flex">
              <div class="me-2">
                  <span class="badge bg-label-primary p-2"> <img src="assets/images/small/tratamiento.jpg" alt="" class="img-fluid mr-2 float-right"></span>
              </div>
              <div class="d-flex flex-column">
                <h5 class="card-title">Tratamiento</h5>
              <p class="card-text">Total: 567</p>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card custom-card ">
          <div class="card-body">
            <div class="d-flex">
              <div class="me-2">
                  <span class="badge bg-label-primary p-2"> <img src="assets/images/small/usuario.png" alt="" class="img-fluid mr-2 float-right"></span>
              </div>
              <div class="d-flex flex-column">
                <h5 class="card-title">Usuarios</h5>
              <p class="card-text">Total: 567</p>
              </div>
          </div>
          </div>
        </div>
      </div>
   
    </div>
 >
  </div>
  