<div class="container-fluid">
  <div class="row">
    <div class="card custom-card">
      <h1 class="card-title text-center texto-mayusculas">
        BIENVENIDO {{ autenticacion.usuario.usuario }}
      </h1>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card custom-card">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-2">
              <span class="badge bg-label-primary p-2">
                <img
                  src="assets/images/small/plan.jpg"
                  alt=""
                  class="img-fluid mr-2 float-right"
              /></span>
            </div>
            <div class="d-flex flex-column">
              <h5 class="card-title">Plantas</h5>
              <p class="text-muted text-justify">Total: {{ totalPlantas }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card custom-card">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-2">
              <span class="badge bg-label-primary p-2">
                <img
                  src="assets/images/small/enferma.jpg"
                  alt=""
                  class="img-fluid mr-2 float-right"
              /></span>
            </div>
            <div class="d-flex flex-column">
              <h5 class="card-title">Enfermedades</h5>
              <p class="text-muted text-justify">
                Total: {{ totalEnfermedades }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card custom-card">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-2">
              <span class="badge bg-label-primary p-2">
                <img
                  src="assets/images/small/tratamiento.jpg"
                  alt=""
                  class="img-fluid mr-2 float-right"
              /></span>
            </div>
            <div class="d-flex flex-column">
              <h5 class="card-title">Tratamiento</h5>
              <p class="text-muted text-justify"> Total: {{totalTratamientos}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card custom-card">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-2">
              <span class="badge bg-label-primary p-2">
                <img
                  src="assets/images/small/usuario.png"
                  alt=""
                  class="img-fluid mr-2 float-right"
              /></span>
            </div>
            <div class="d-flex flex-column">
              <h5 class="card-title">Usuarios</h5>
              <p class="ctext-muted text-justify">Total: {{totalUsuarios}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="cajaModal text-center mt-4 texto-mayusculas"> CANTIDAD DE ENFERMEDADES POR TIPO DE CAUSA
            </h5>
            <app-grafico></app-grafico>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
