
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-4 text-center">Información de la Enfermedad</h2>
          <div class="row">
            <!-- <div class="col-md-5 d-flex justify-content-center"> -->
            <div class="col-md-5">
              <img [src]="enfermedad.urlEnfermedad" class="img-fluid" alt="Imagen de la enfermedad">
            </div>
            <div class="col-md-7">
              <p class="card-text text-muted mb-4"><strong>Nombre Común:</strong> {{ enfermedad.nombreComunEnfermedad }}</p>
              <p class="card-text  text-muted mb-4"><strong>Nombre Científico:</strong> {{ enfermedad.nombreCientificoEnfermedad }}</p>
              <p class="card-text text-muted mb-4" ><strong>Etapa:</strong> {{ enfermedad.etapaEnfermedad }}</p>
              <p class="card-text  text-muted mb-4"><strong>Tipo:</strong> {{ enfermedad.tipoEnfermedad }}</p>
              <p class="card-text  text-muted mb-4"><strong>Condición Favorable:</strong> {{ enfermedad.condicionFavorableEnfermedad }}</p>
              <p class="card-text  text-muted mb-4"><strong>Partes Afectadas:</strong> {{ enfermedad.partesAfectadasEnfermedad }}</p>
            </div>
            <div class="col-md-12 mt-4">
              <p class="card-text  text-muted mb-4"><strong>Descripción:</strong> {{ enfermedad.descripcionEnfermedad }}</p>
              <p class="card-text  text-muted mb-4"><strong>Síntomas:</strong> {{ enfermedad.sintomasEnfermedad }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>