
<div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="col-lg-12">
          <div class="row" *ngIf="enfermedad">
            <div class="card-body">
              <h2 class="card-title mb-4 text-center">ENFERMEDAD DE LA PLANTA</h2>
              <p class="card-title mb-4 text-center">{{ enfermedad.nombreComunEnfermedad }}</p>
            </div>
  
            <div class="card product-card">
              <div class="card-body">
                <div class="product-img position-relative">
                  <div class="mt-4 text-center">
                    <h5 class="mb-3 text-truncate">{{ enfermedad.descripcionEnfermedad }}</h5>
                  </div>
                  <img [src]="enfermedad.urlEnfermedad" class="img-fluid mx-auto d-block card-image">
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
      <!-- end row -->
    </div>
  </div>
  