<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="col-lg-12">
        <div class="row justify-content-center">
          <div class="card-body">
            <div class="row mb-6">
              <div
                class="col-lg-12 col-sm-12 d-flex justify-content-center search-button"
              >
                <div class="search-box me-2">
                  <div class="position-relative">
                    <input
                      type="text"
                      class="form-control color mt-4"
                      placeholder="Buscar..."
                      [(ngModel)]="textoBusqueda"
                      (input)="buscar()"
                    />
                    <i
                      class="bx bx-search-alt search-icon"
                      (click)="buscar()"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div *ngIf="resultadosPlantas.length > 0">
                  <app-cardPlanta
                    *ngFor="let planta of resultadosPlantas"
                    [planta]="planta"
                    [detallePlantaPreview]="detallePlantaPreview"
                  ></app-cardPlanta>
                </div>
              </div>
              <div class="col-lg-6">
                <div *ngIf="resultadosTrata.length > 0">
                  <!-- Muestra los resultados de tratamientos aquí -->
                  <app-cardTratamiento
                    *ngFor="let tratamiento of resultadosTrata"
                    [tratamiento]="tratamiento"
                  >
                  </app-cardTratamiento>
                </div>
                <div *ngIf="resultadosCausas.length > 0">
                  <!-- Muestra los resultados de causas aquí -->
                </div>
              </div>
              <div class="col-lg-6">
                <!-- Cambia *ngFor para iterar sobre resultadosTratamientosD y asigna el elemento a cada instancia -->
                <div *ngFor="let detalleT of resultadosTratamientosD">
                  <app-DetalleTraCard
                    [tratamientoDetalle]="detalleT"
                  ></app-DetalleTraCard>
                </div>
              </div>
            </div>
           
            <div
              *ngIf="
                resultadosPlantas.length === 0 &&
                resultadosTrata.length === 0 &&
                resultadosTratamientosD.length === 0
              "
            >
              <div class="col-lg-12 text-center">
                <p>No se encontraron datos para su busqueda.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
