<div class="container-fluid">
  <hr class="mb-4">

  <div class="row">
      <div class="col-xl-9 col-lg-8">
          <div class="card">
              <!-- Nav tabs -->
              <ul ngbNav class="nav-tabs nav-tabs-custom justify-content-center pt-2">
                    <div class="row justify-content-center">
                        <div class="col-xl-8">
                            <div class="mt-3">
                             <h4 class="text-center">LA FITOPATOLOGÍA</h4>

                                <hr class="mb-4">

                                <div>
                                    <p class="text-muted text-center">Los fitopatólogos estudian las enfermedades causadas por hongos, bacterias, micoplasmas, plantas superiores parásitos, virus, viroides nematodos y protozoarios</p>

                                    <div class="position-relative mb-3">
                                        <img src="assets/images/small/tomateF.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <p class="text-muted text-justify">Estudian también las alteraciones que se producen en las plantas por exceso, desequilibrio o carencia de ciertos factores físicos o químicos, como la temperatura, la humedad y los nutrientes. Los daños que sufren las plantas a causa de los insectos, el hombre u otros animales, por lo general no se incluyen en el campo de estudio de la fitopatología. La fitopatología utiliza las técnicas básicas y los conocimientos de la botánica, micología, bacteriología, virología, Hematología, anatomía vegetal, fisiología vegetal, genética, bioquímica, horticultura, edafología, silvicultura, química, física, meteorología y muchas otras ramas de la ciencia</p>
                                    <p class="text-muted text-justify">Estudian también las alteraciones que se producen en las plantas por exceso, desequilibrio o carencia de ciertos factores físicos o químicos, como la temperatura, la humedad y los nutrientes. Los daños que sufren las plantas a causa de los insectos, el hombre u otros animales, por lo general no se incluyen en el campo de estudio de la fitopatología. La fitopatología utiliza las técnicas básicas y los conocimientos de la botánica, micología, bacteriología, virología, Hematología, anatomía vegetal, fisiología vegetal, genética, bioquímica, horticultura, edafología, silvicultura, química, física, meteorología y muchas otras ramas de la ciencia</p>

                                </div>

                                <div>
                                    <h5><a routerLink="#" class="text-dark">Enfermedad en las plantas</a></h5>
                                    <p class="text-muted text-justify">Las plantas se mantienen sanas o normales cuando llevan a cabo sus funciones fisiológicas hasta donde les permite su potencial genético. Esas funciones comprenden su división celular normal, su diferenciación y desarrollo, la absorción del agua y los minerales del suelo y su translocación por toda la planta, la fotosíntesis y la translocación de los productos fotosintéticos hasta los Órganos de utilización o almacenamiento, el metabolismo de los compuestos sintetizados, la reproducción y, finalmente, el almacenamiento de las reservas alimenticias necesarias a la reproducción o a la invención</p>

                                    <div class="position-relative mb-3">
                                        <img src="assets/images/small/hojas.jpg" alt="" class="img-thumbnail">
                                    </div>
                                    <p class="text-justify">Las plantas presentarán enfermedad cuando una o varias de sus funciones sean alteradas por los organismos patógenos o por determinadas condiciones del medio- Las causas principales de enfermedad en las plantas son los organismos patógenos y los factores del ambiente físico. Los procesos específicos que caracterizan las enfermedades, varían considerablemente según el agente causal y a veces según la planta misma. En un principio, la reacción de la planta ante el agente que ocasiona su enfermedad se concentra en la zona enferma, y es de naturaleza química e invisible. Sin embargo, poco tiempo después la reacción se difunde y se producen cambios histológicos que se hacen notables y constituyen los síntomas de la enfermedad.</p>

                                </div>


                            </div>
                        </div>
                    </div>
              </ul>
              <div class="p-4"></div>
          </div>
      </div>

      <div class="col-xl-3 col-lg-4">
          <div class="card">
              <div class="card-body p-4">
                  <div class="search-box">
                      <p class="text-muted">Buscar</p>
                      <div class="position-relative">
                          <input type="text" class="form-control rounded bg-light border-light"
                              placeholder="buscar...">
                          <i class="mdi mdi-magnify search-icon"></i>
                      </div>
                  </div>

                  <hr class="my-4">

                  <div>
                      <p class="text-muted">Categorias</p>

                      <ul class="list-unstyled fw-medium">
                          <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i>
                            Hortalizas y verduras</a></li>
                          <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i>
                            Cereales y granos </a>
                          </li>
                          <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i>
                            Frutas</a></li>
                          <li><a href="javascript: void(0);" class="text-muted py-2 d-block"><i class="mdi mdi-chevron-right me-1"></i>
                            Árboles frutales</a></li>

                      </ul>
                  </div>

              </div>
          </div>
          <!-- end card -->
      </div>
  </div>
  <!-- end row -->
</div>
