// 
// _buttons.scss
// 

button,a {
  outline: none !important;
}


// Rounded Buttons
.btn-rounded {
  border-radius: 30px;
}

.btn-dark, .btn-secondary{
  color: $gray-200 !important;
}

.btn-outline-light{
  color: $gray-900;
}

.btn-outline-dark, .btn-dark{
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle,
  &:hover{
    color: $light;
  }
}

// example 1

.btn-group-example{
  .btn{
    position: relative;

    &:first-child{
      &::before{
        display: none;
      }
    }

    &:before{
      content: "OR";
      position: absolute;
      font-size: 10px;
      width: 24px;
      height: 24px;
      line-height: 24px;
      border-radius: 50%;
      background-color: $gray-600;
      color: $light;
      border: 1px solid $white;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}


// Example 2

.btn-label{
  position: relative;
  padding-left: 44px;
  .label-icon{
    position: absolute;
    width: 32px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba($white, 0.1);
    border-right: 1px solid rgba($white, 0.1);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.btn-light{
    .label-icon{
      background-color: rgba($dark, 0.1);
      border-right: 1px solid rgba($dark, 0.2);
    }
  }
}
.caja {
  text-align: center;
  color: #000;
  background-color: #E9ECEF;
  height: 35px;
  font-size: 20px;
}
.cajaModal {
  text-align: center;
  color: #000;
  height: 35px;
  font-size: 20px;
}
.btnModificar{
  background-color: #3388B8;
  color: white;

}
.btnguardar{
  background-color: #146C43;
  color: white;
}
.btnguardarModal{
  background-color: #146C43;
  color: white;
}
.btnEliminar{
  background-color: #903B28;
  color: white;
}
.btnCerrar{
  background-color: #903B28;
  color: white;
}

.btnDetalle{
  background-color: #903B28;
  color: white;
}
.btnacerca{
  color: white;
  width: 70px;
}
.required::before {
  content: "*";
  color: red;
  margin-right: 5px; /* Espacio entre el asterisco y el texto */
}

/* (Inicio) Estilos para el mensaje emergente (tooltip) */
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

/* Estilos para el icono de información */
.info-icon {
  cursor: pointer;
  display: inline-block;
  width: 12px;
  height: 15px;
  line-height: 13px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff; /* Cambia esto al color que desees */
  border: 1px solid #666; /* Cambia esto al color que desees para la línea del círculo */
  color: #666;
  font-size: 8px;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #5c5b5b;
  color: #fff;
  font-size: 12px;
  font-family: Raleway;
  position: absolute;
  
  /* Ajusta el padding para hacer el recuadro más ancho (10px arriba/abajo, 20px izquierda/derecha) */
  padding: 3px 10px;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  /* Permite que el texto se divida en varias líneas si es necesario */
  white-space: nowrap;//normal,nowrap 
  //word-wrap: break-word;
  box-shadow: 12px 12px 6px #707070;
  opacity: 0;
  border: 1px solid #333333;
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px;
    /* Ajusta el ancho máximo para permitir que el recuadro acomode un texto más largo sin recortarlo */
    //max-width: 800px; /* Por ejemplo, puedes cambiar esto a 400px */
    
}

[data-title] {
  position: relative;
  cursor: pointer;
}
/* (Fin) Estilos para el mensaje emergente (tooltip) */




@media screen and (max-width: 440px) {
  .caja {
    text-align: center;
    color: #000;
    background-color: #E9ECEF;
    height: 40px;
    font-size: 12px;
  }
  .cajaModal {
    text-align: center;
    color: #000;
    height: 35px;
    font-size: 12px;
  }
  .btnEliminar{
      background-color: #903B28;
      color: white;
      width: 50px;
     
  }
  .btnModificar{
    background-color: #3388B8;
    color: white;
    width: 50px;
 }
 /* (Inicio) Estilos para el mensaje emergente (tooltip) */
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #5c5b5b;
  color: #fff;
  font-size: 10px;
  font-family: Raleway;
  position: absolute;
  
  /* Ajusta el padding para hacer el recuadro más ancho (10px arriba/abajo, 20px izquierda/derecha) */
  padding: 3px 10px;
  top: 20%;
  left: 110%;
  transform: translateY(-50%);
  /* Permite que el texto se divida en varias líneas si es necesario */
  white-space: normal;//normal,nowrap 
  //word-wrap: break-word;
  box-shadow: 12px 12px 6px #707070;
  opacity: 0;
  border: 1px solid #333333;
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px;
    /* Ajusta el ancho máximo para permitir que el recuadro acomode un texto más largo sin recortarlo */
    //max-width: 800px; /* Por ejemplo, puedes cambiar esto a 400px */
    
}

[data-title] {
  position: relative;
  cursor: pointer;
}



}
@media screen and (max-width: 320px) {
  .caja {
    text-align: center;
    color: #000;
    background-color: #E9ECEF;
    height: 40px;
    font-size: 12px;
  }
  .btnEliminar{
      background-color: #903B28;
      color: white;
      width: 60px;
  }
  .btnguardarModal{
    background-color: #146C43;
    color: white;
    font-size: 9px;
  }
  .btnCerrar{
    background-color: #903B28;
    color: white;
    font-size: 9px;
  }
  .cajaModal {
    text-align: center;
    color: #000;
    height: 35px;
    font-size: 12px;
  }
  .btnModificar{
    background-color: #3388B8;
    color: white;
    width: 70px;
}
.btnacerca{
  
  color: white;
  width: 5px;
}
}