<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <h5 class="text-muted texto-justificado mt-4">
              "SISTEMA INFORMÁTICO EN AMBIENTE WEB PARA EL REGISTRO Y CONSULTA DE
              LAS PRINCIPALES ENFERMEDADES QUE ATACAN A LOS CULTIVOS DE
              IMPORTANCIA SOCIAL Y ECONÓMICA EN EL SALVADOR "
            </h5>
            <div class="col-xl-11">
              <div class="mt-4 mt-xl-3">
                <p class="text-muted mb-4">
                 
                </p>

                <p class="text-muted texto-justificado mt-4 ">
                  <strong class="mb-4 text-muted"> Acerca de nuestro proyecto</strong>
                  Bienvenidos a nuestro sitio web dedicado a la agricultura y la
                  salud de los cultivos en El Salvador. Somos un equipo de
                  estudiantes del Curso de Especialización en Full Stack Developer,conformado por : 
                </p>
                <p>  -Stefany Beatriz Díaz Garcia</p>
                <p> -Claudia Yoselin Rivas Arévalo.</p>
                <p> -Luis Jacinto Najarro Sánchez.</p>
                <p>-José Heriberto Pérez Bonifacio.</p>
                <p class="text-muted mb-4">
                  <strong>Nuestra Misión</strong>
                </p>
                <p class="text-muted mb-4 texto-justificado">
                  Nuestra misión es proporcionar a Ingenieros Agrónomos, y
                  estudiantes de la carrera de Ingeniería Agronómica una fuente
                  confiable de información sobre las enfermedades que afectan a
                  los cultivos de importancia social y económica en El Salvador.
                  Queremos empoderar a quienes trabajan en la agricultura con el
                  conocimiento necesario para tomar decisiones informadas y
                  efectivas en la prevención y el tratamiento de enfermedades de
                  las plantas
                </p>
              </div>
            </div>
            <div class="col-xl-12">
              <p class="text-muted mb-4">
                <strong>Nuestro Proyecto</strong>
              </p>
              <div class="mt-4 mt-xl-4">
                <p class="text-muted mb-4 texto-justificado">
                  Desarrollamos un Sistema Informático en ambiente web que
                  ofrece un catálogo completo de plantas, sus enfermedades
                  asociadas, y sugerencias de tratamientos. Nuestro objetivo es
                  facilitar el acceso a información precisa y actualizada,
                  permitiendo a los usuarios encontrar respuestas a sus
                  preguntas de manera rápida y sencilla. Nuestro sistema también
                  se esfuerza por ser una herramienta educativa para el
                  intercambio de conocimientos en el campo de la agricultura.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
