<div class="container-fluid">

   
   <div class="row mt-2">
     <div class="col-lg-12">
       <div class="card">
         <div class="card-body">
          <div class="caja">ENFERMEDAD Y SUS CAUSAS</div>
           <div class="row mt-4">
             <div class="col-sm-4">
               <div class="search-box me-2 mb-2 d-inline-block">
                 <div class="position-relative">
                   <input type="text" class="form-control" placeholder="Buscar carta">
                   <i class="bx bx-search-alt search-icon"></i>
                 </div>
               </div>
             </div>
             <div class="col-sm-8">
              <div class="text-sm-end">
         
              </div>
            </div>
            <app-tabla  [queryString]="detalleCausa"></app-tabla>
           </div>
           <!-- contenido scroll infinito  <app-tabla [libros]="libros" [queryString]="libr"></app-tabla> -->
       
         </div>
       </div>
     </div>
   
   </div>
  </div>

   
