<!-- Modal -->

<div class="modal-header">
    <h5 class="modal-title mt-0">{{enfermedad}} Enfermedad</h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="cerrarModal()"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formularioEnfermedad">
      <div class="row">
        <div class="mt-1 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
          <label class="control-label">Seleccionar Imagen de la enfermedad</label>
          <input
            class="form-control"
            type="file"
            id="urlEnfermedad"
            formControlName="urlEnfermedad"
            (change)="SeleccionarImagen($event)"
            [ngClass]="esCampoValido('urlEnfermedad')"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioEnfermedad.get('urlEnfermedad')?.errors?.['required']"
              >Requiere una imagen de la enfermedad</span
            >
          </div>
        </div>
        <div class="mt-1 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <img
            width="100px"
            height="100px"
            class="img-fluid"
            [src]="imagenMostrar"
            *ngIf="imagenMostrar != undefined"
          />
        </div>
        <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <label class="control-label">Nombre Común</label>
          <input
            class="form-control"
            type="text"
            id="nombreComunEnfermedad"
            formControlName="nombreComunEnfermedad"
            [ngClass]="esCampoValido('nombreComunEnfermedad')"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioEnfermedad.get('nombreComunEnfermedad')?.errors?.['required']"
              >Requiere una nombre común de la enfermedad</span
            >
          </div>
        </div>
        <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <label class="control-label">nombre cientifico Enfermedad</label>
          <input
            class="form-control"
            type="text"
            id="nombreCientificoEnfermedad"
            formControlName="nombreCientificoEnfermedad"
            [ngClass]="esCampoValido('nombreCientificoEnfermedad')"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioEnfermedad.get('nombreCientificoEnfermedad')?.errors?.['required']"
              >Requiere una nombre cientifico de la enfermedad</span
            >
          </div>
        </div>
        <div class="mt-1 col-12">
          <label class="control-label">Descripción de la enfermedad</label>
          <textarea
            class="form-control"
            type="text"
            id="descripcionEnfermedad"
            formControlName="descripcionEnfermedad"
            [ngClass]="esCampoValido('descripcionEnfermedad')"
          ></textarea>
          <div class="invalid-feedback">
            <span
              *ngIf="formularioEnfermedad.get('descripcionEnfermedad')?.errors?.['required']"
              >Requiere una descripcion de la enfermedad</span
            >
          </div>
        </div>
        <div class="mt-1 col-6">
          <label class="control-label">etapa Enfermedad</label>
          <textarea
            class="form-control"
            type="text"
            id="etapaEnfermedad"
            formControlName="etapaEnfermedad"
            [ngClass]="esCampoValido('etapaEnfermedad')"
          ></textarea>
          <div class="invalid-feedback">
            <span
              *ngIf="formularioEnfermedad.get('etapaEnfermedad')?.errors?.['required']"
              >Requiere etapaEnfermedad</span
            >
          </div>
        </div>
        <div class="mt-1 col-6">
          <label class="control-label">Tipo de Enfermedad</label>
          <input
            class="form-control"
            type="text"
            id="tipoEnfermedad"
            formControlName="tipoEnfermedad"
            [ngClass]="esCampoValido('tipoEnfermedad')"
          />
          <div class="invalid-feedback">
            <span
              *ngIf="formularioEnfermedad.get('tipoEnfermedad')?.errors?.['required']"
              >Requiere de tipoEnfermedad</span
            >
          </div>
        </div>
        <div class="mt-1 col-6">
          <label class="control-label">sintomasEnfermedad</label>
          <textarea
            class="form-control"
            type="text"
            id="sintomasEnfermedad"
            formControlName="sintomasEnfermedad"
            [ngClass]="esCampoValido('sintomasEnfermedad')"
          ></textarea>
          <div class="invalid-feedback">
            <span
              *ngIf="formularioEnfermedad.get('sintomasEnfermedad')?.errors?.['required']"
              >Requiere sintomasEnfermedad</span
            >
          </div>
        </div>
        <div class="mt-1 col-6">
          <label class="control-label">condicionFavorableEnfermedad</label>
          <textarea
            class="form-control"
            type="text"
            id="condicionFavorableEnfermedad"
            formControlName="condicionFavorableEnfermedad"
            [ngClass]="esCampoValido('condicionFavorableEnfermedad')"
          ></textarea>
          <div class="invalid-feedback">
            <span
              *ngIf="formularioEnfermedad.get('condicionFavorableEnfermedad')?.errors?.['required']"
              >Requiere condicionFavorableEnfermedad</span
            >
          </div>
        </div>
        <div class="mt-1 col-6">
          <label class="control-label">partesAfectadasEnfermedad</label>
          <textarea
            class="form-control"
            type="text"
            id="partesAfectadasEnfermedad"
            formControlName="partesAfectadasEnfermedad"
            [ngClass]="esCampoValido('partesAfectadasEnfermedad')"
          ></textarea>
          <div class="invalid-feedback">
            <span
              *ngIf="formularioEnfermedad.get('partesAfectadasEnfermedad')?.errors?.['required']"
              >Requiere partesAfectadasEnfermedad</span
            >
          </div>
        </div>
      </div>
      <!-- <div class="row mt-3">
        <div class="mt-1 col-6">
          <button
            type="button"
            class="verdeOscuro"
            id="btn-save-event"
            (click)="guardar()"
            *ngIf="leyenda=='Registrar'"
          >
            Guardar
          </button>
          <button
          type="button"
          class="btn btn-warning"
          id="btn-warning-event"
          (click)="modificar()"
          *ngIf="leyenda=='Modificar'"
        >
          Modificar
        </button>
        </div>
        <div class="mt-1 col-6">
          <button
            type="button"
            class="rojoOscuro"
            id="btn-save-event"
            (click)="cerrarModal()"
          >
            Cerrar
          </button>

        </div>
        
      </div> -->
      <div class="text-center mb-3 mt-2"> <!-- Centrar los botones y agregar espacio inferior -->
        <button type="button" class="btn btn-success " (click)="guardar()" *ngIf="leyenda=='Registrar'"><i class="fas fa-check"></i>Guardar</button>
        <button type="button" class="btn btn-success " *ngIf="leyenda=='Modificar'" (click)="modificar()"><i class="fas fa-check" ></i>{{leyenda}}</button>
        <span class="mx-2"></span> <!-- Agregar un espacio horizontal entre los botones -->
        <button type="button" class="btn btn-primary " aria-hidden="true"(click)="cerrarModal()"><i class="fas fa-long-arrow-alt-right"></i>cerrar</button>
    </div>
    </form>
  </div>
  detallePlanta
  <!-- Modal -->
  