
.tabla{
    background-color: #fff;
    color: #152536;
}


/* Estilo para truncar texto */
.truncate-text {
    max-width: 200px; /* Define el ancho máximo para la celda */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

