<h5 class="cajaModal text-center mt-4 texto-mayusculas">{{leyenda}} Detalle Tratamiento</h5>
<div class="modal-body">
  <form [formGroup]="formularioDetalleTratamiento">
    <div class="row">
     
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Seleccionar Tratamiento</label>
        <ng-select 
          class="form-control"
          id="idTratamiento"
          formControlName="idTratamiento"
          [ngClass]="esCampoValido('idTratamiento')">
          <ng-option *ngFor="let tratamiento of listTratamiento" [value]="tratamiento.idTratamiento">{{tratamiento.nombrePesticidaTratamiento}}</ng-option>
        </ng-select >
       
        <div class="invalid-feedback">
          <span
            *ngIf="formularioDetalleTratamiento.get('idTratamiento')?.errors?.['required']"
            >Requiere un Tratamiento</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Seleccionar Detalle Causa</label>
        <ng-select 
          class="form-control"
          id="idDetalleCausa"
          formControlName="idDetalleCausa"
          [ngClass]="esCampoValido('idDetalleCausa')">
          <ng-option *ngFor="let causa of listDetalleCausa" [value]="causa.idDetalleCausa">{{causa.descripcionDetalleCausa}}</ng-option>
        </ng-select >
        
        <div class="invalid-feedback">
          <span
            *ngIf="formularioDetalleTratamiento.get('idDetalleCausa')?.errors?.['required']"
            >Requiere un Detalle Causa</span
          >
        </div>
      </div>
     
     
      
    </div>
    <div class="text-center mb-3 mt-2"> <!-- Centrar los botones y agregar espacio inferior -->
        <button type="button" class="btn btnguardarModal" (click)="guardar()" *ngIf="leyenda=='Registrar'"><i class="fas fa-check"></i>Guardar</button>
        <button type="button" class="btn btnguardarModal" *ngIf="leyenda=='Modificar'" (click)="modificar()"><i class="fas fa-check" ></i>{{leyenda}}</button>
        <span class="mx-2"></span> <!-- Agregar un espacio horizontal entre los botones -->
        <button type="button" class="btn btnCerrar " aria-hidden="true"(click)="cerrarModal()"><i class="dripicons-cross"></i>cerrar</button>
    </div>
      </form>
    </div>