<div class="modal-body">
  <h5 class="cajaModal text-center mt-4 texto-mayusculas">
    Perfil
  </h5>
  <form >
    <div class="row">

      <div class="mt-1">
        <label class="control-label"> <strong>Usuario:</strong> {{ ident.usuario }} </label>
      </div>

      <div class="mt-1">
        <label class="control-label"> <strong>Nombre:</strong> {{ ident.nombre}} </label>
      </div>

      <div class="mt-1">
        <label class="control-label"> <strong>Apellido:</strong> {{ ident.apellido }} </label>
      </div>

      <div class="mt-1">
        <label class="control-label"> <strong>Correo:</strong> {{ ident.correo }} </label>
      </div>

    </div>

    <div class="text-center mb-3 mt-2"> <!-- Centrar los botones y agregar espacio inferior -->
      <button type="button" class="btn btnCerrar" aria-hidden="true" (click)="cerrarModal()"><i class="dripicons-cross"></i>cerrar</button>
  </div>
  </form>
</div>
