<div class="table-responsive mb-0 mt-2">
  <table class="table table-centered table-nowrap">
    <thead class="table-light">
      <tr>
        <th class="align-middle" style="width: 10%;">id </th>
        <th class="align-middle" style="width: 30%;">Nombre Común </th>
        <th class="align-middle" style="width: 30%;">Nombre Científico</th>
        <th class="align-middle" style="width: 30%;">Tipo de Causa</th>
        <th class="align-middle" style="width: 10%;">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aux of cusaT">
     
        <td>{{ aux.idtipoCausa }}</td>
        <td>{{ aux.nombreComunTC }}</td>
        <td>{{ aux.nombreCientificoTC }}</td>
        <td>{{ aux.tipoTC }}</td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-rounded" ><app-nuevo [leyenda]="'Editar '" [causaT]="aux"[titulo]="'Editar'" [modo]="'Editar'"></app-nuevo></button>
          <button type="button" class="btn btn-primary btn-sm  btn-rounded" (click)="eliminarcausa(aux)"><i class="fas fa-trash-alt"></i>Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

