<div class="table-responsive mb-0 mt-2">
  <table datatable
  [dtOptions]="dtOptions" class="table table-centered table-nowrap">
    <thead class="table-light">
      <tr>
        <th class="align-middle" style="width: 10%;">id </th>
        <th class="align-middle" style="width: 30%;">Tipo de Causa </th>
        <th class="align-middle" style="width: 30%;">Definición</th>
        <th class="align-middle" style="width: 30%;">Imagen</th>
        <th class="align-middle" style="width: 10%;">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aux of cusaT ">
     
        <td>{{ aux.idTipoCausa }}</td>
        <td>{{ aux.tipoTC }}</td>
        <td>{{ aux.definicionTipoTC }}</td>
        <td> <img src="{{aux. urlTC}}" alt> </td>
        <td>{{ aux.urlTC }}</td>
        <td>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-sm btn-rounded" ><app-nuevo [leyenda]="'Editar '" [causaT]="aux"[titulo]="'Editar'" [modo]="'Editar'"></app-nuevo></button>
          <button type="button" class="btn btn-primary btn-sm  btn-rounded" (click)="eliminarcausa(aux)"><i class="fas fa-trash-alt"></i>Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>



</div>

