<div class="table-responsive mb-0 mt-2">
    <table class="table table-centered table-nowrap">
      <thead class="table-light">
        <tr>
          <th class="align-middle">Nombre del tratamiento</th>
          <th class="align-middle">Descripción del tratamiento</th>
          <th class="align-middle">Aplicación del tratamiento</th>
          <th class="align-middle">Imagen</th>
          <th class="align-middle">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tratamiento of ListaDeTratamiento | paginate: { itemsPerPage: 5, currentPage: p }">
         
          <td>{{tratamiento.nombrePesticidaTratamiento}}</td>
          <td>{{tratamiento.descripcionTratamiento}}</td>
          <td>{{tratamiento.aplicacionTratamiento}}</td>
          <td><img width="100px" height="100px" class="img-fluid" [src]="tratamiento.imagen"></td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" style="border: 0;" (click)="ObtenerTratamientoEliminar(tratamiento)">Eliminar</button>
            <button type="button" class="btn btn-secondary" style="border: 0;" (click)="ObtenerTratamientoModificar(tratamiento)">Modificar</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>