<div>
  <table datatable
  [dtOptions]="dtOptions"
  class="row-border hover">
  <thead class="bg-dark text-white">
    <tr>
      <th>ID</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of enfermedadOd">
      
      <td>
        <a href="javascript: void(0);" class="text-body fw-bold">{{data.idEnfermedad}}</a>
      </td>
      <td>{{data.nombreComunEnfermedad}}</td>
      <td>{{data.nombreCientificoEnfermedad}}</td>
      <td>{{data.descripcionEnfermedad}}</td>
      <td>{{data.etapaEnfermedad}}</td>
      <td>{{data.tipoEnfermedad}}</td>
      <td>{{data.sintomasEnfermedad}}</td>
      <td>{{data.condicionFavorableEnfermedad}}</td>
      <td>{{data.partesAfectadasEnfermedad}}</td>
      <td>
        <button class="editar btn btn-success xs-sm">
          Modificar
          <!-- <app-nuevo [leyenda]="'Editar'" [titulo]="'Editar'" [sintomaOd]="data"></app-nuevo> -->
        </button>
        <button class="eliminar btn btn-danger xs-sm"> Eliminar</button>
        
        <!-- Button trigger modal -->
        <!-- <button class="eliminar" (click)="eliminar(data.idsintoma)">Eliminar</button> -->        
      </td>
    </tr>
  </tbody>
  </table>
  

   
    <ng-template #content role="document" let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">Card</h5>
        <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p class="mb-2">
          Sintoma id:
          <span class="text-primary">{{card.idEnfermedad}}</span>
        </p>
        <p class="mb-4">
          Billing Name:
          <span class="text-primary">Neal Matthews</span>
        </p>
     <!--    <div>
          <app-card [card]="card"></app-card>
        </div> -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
  </div>
  <!-- end table -->