<div class="modal-body">
  <h5 class="cajaModal text-center mt-4 texto-mayusculas">
    {{ leyenda }} Usuario
  </h5>
  <label class="control-label"
    >Campos obligatorios a llenar con <span class="required"></span>
    <!-- Icono de información -->
  </label>
  <form class="form-horizontal" [formGroup]="formularioUsuario">
    <div class="row">
      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label"
          >Nombre<span class="required"></span>
          <!-- Icono de información -->
        </label>
        <input
          type="text"
          formControlName="nombre"
          class="form-control"
          id="nombre"
          placeholder="Nombre"
          [ngClass]="esCampoValido('nombre')"
          autocomplete="off"
        />
        <div class="invalid-feedback">
          <div *ngIf="formularioUsuario.get('nombre')?.errors?.['required']">
            Nombre requerido
          </div>
          <div *ngIf="formularioUsuario.get('nombre')?.errors?.['pattern']">
            Nombre incorrecto
          </div>
        </div>
      </div>

      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label"
          >Apellido <span class="required"></span>
          >
        </label>
        <input
          type="text"
          formControlName="apellido"
          class="form-control"
          id="apellido"
          placeholder="Apellido"
          [ngClass]="esCampoValido('apellido')"
          autocomplete="off"
        />
        <div class="invalid-feedback">
          <div *ngIf="formularioUsuario.get('apellido')?.errors?.['required']">
            Apellido requerido
          </div>
          <div *ngIf="formularioUsuario.get('apellido')?.errors?.['pattern']">
            Apellido incorrecto
          </div>
        </div>
      </div>
      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label"
          >Correo<span class="required"></span>
          >
          <!-- Icono de información -->
        </label>
        <input
          type="email"
          formControlName="correo"
          class="form-control"
          id="correo"
          placeholder="Correo"
          [ngClass]="esCampoValido('correo')"
          autocomplete="off"
        />
        <div class="invalid-feedback">
          <div *ngIf="formularioUsuario.get('correo')?.errors?.['required']">
            Correo requerido
          </div>
          <div *ngIf="formularioUsuario.get('correo')?.errors?.['email']">
            Correo incorrecto
          </div>
        </div>
      </div>

      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label"
          >Estado<span class="required"></span>
          >
          <!-- Icono de información -->
        </label>
        <ng-select
          class="form-control"
          id="estado"
          formControlName="estado"
          [ngClass]="esCampoValido('estado')"
        >
          <ng-option value="ACTIVO">ACTIVO</ng-option>
          <ng-option value="INACTIVO">INACTIVO</ng-option>
        </ng-select>
        <div class="invalid-feedback">
          <div *ngIf="formularioUsuario.get('estado')?.errors?.['required']">
            Estado requerido
          </div>
        </div>
      </div>
      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label"
          >Usuario<span class="required"></span>
        </label>
        <input
          type="text"
          formControlName="usuario"
          class="form-control"
          id="usuario"
          placeholder="Usuario"
          [ngClass]="esCampoValido('usuario')"
          autocomplete="off"
        />
        <div class="invalid-feedback">
          <div *ngIf="formularioUsuario.get('usuario')?.errors?.['required']">
            Usuario requerido
          </div>
        </div>
      </div>

      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label"
          >Contraseña <span class="required"></span>
        </label>
        <div class="mb-3 input-group">
          <!-- Repetimos el mismo proceso para el segundo input -->
          <input
            [type]="tipo"
            class="form-control"
            formControlName="clave"
            placeholder="Contraseña"
            aria-label="Password"
            aria-describedby="password-addon"
            [ngClass]="esCampoValido('clave')"
          />
          <div class="invalid-feedback">
            <span *ngIf="formularioUsuario.get('clave')?.errors?.['required']"
              >Contraseña requerida</span
            >
          </div>
          <div class="input-group-append">
            <!-- Agregamos un div para el botón de ojo -->
            <button
              class="btn btn-light"
              type="button"
              id="password-addon"
              (click)="mostrarPassword()"
            >
              <i class="mdi mdi-eye-outline"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="mt-1 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <label class="control-label">Rol<span class="required"></span> </label>

        <ng-select
          class="form-control"
          id="idrol"
          formControlName="idrol"
          [ngClass]="esCampoValido('idrol')"
        >
          <ng-option *ngFor="let rol of roList" [value]="rol.id">{{
            rol.rol
          }}</ng-option>
        </ng-select>
        <div class="invalid-feedback">
          <span *ngIf="formularioUsuario.get('idrol')?.errors?.['required']"
            >Requiere un Rol</span
          >
        </div>
      </div>
    </div>

    <div class="text-center mb-3 mt-2">
      <!-- Centrar los botones y agregar espacio inferior -->
      <button
        type="button"
        class="btn btnguardarModal"
        (click)="guardar()"
        *ngIf="leyenda == 'Registrar'"
      >
        <i class="fas fa-check"></i>Guardar
      </button>
      <button
        type="button"
        class="btn btnguardarModal"
        *ngIf="leyenda == 'Modificar'"
        (click)="modificar()"
      >
        <i class="fas fa-check"></i>{{ leyenda }}
      </button>
      <span class="mx-2"></span>
      <!-- Agregar un espacio horizontal entre los botones -->
      <button
        type="button"
        class="btn btnCerrar"
        aria-hidden="true"
        (click)="cerrarModal()"
      >
        <i class="dripicons-cross"></i>cerrar
      </button>
    </div>
  </form>
</div>
