
<div *ngIf="leyenda !== titulo">
  <button
    type="button"
    [ngClass]="{
      btn: true,
      btnModificar: modo === 'Editar',
      btnguardar: modo !== 'Editar'
    }"
    class="btn-sm mb-2 mr-2 btn-rounded"
    (click)="openModal(content)"
  >
    <i [class]="modo === 'Editar' ? 'fas fa-edit' : 'fas fa-user-plus'"></i>
    {{ titulo }}
  </button>
</div>
<div *ngIf="leyenda === titulo">
  <button
    type="button"
    class="btn btn-primary btn-sm btn-rounded"
    (click)="openModal(content)"
  >
    {{ titulo }}
  </button>
</div>
<!-- Modal -->
<div
  class="modal fade bd-example-modal-lg"
  id="modalDetalleCausa"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <ng-template #content role="document" let-modal>
    <h5 class="cajaModal text-center mt-4 texto-mayusculas">{{ leyenda }} Detalle de Causa</h5>
    <div class="modal-body">
      <form (ngSubmit)="guardar()" [formGroup]="formularioDetalleCausa">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group mt-2">
              <label for="descripcausa">Planta</label>
              <ng-select
                [items]="listaPlanta"
                bindLabel="nombreComunPlanta"
                placeholder="Seleccione"
                formControlName="planta"
                [class]="esCampoValido('planta')"
                [ngModel]=" detalledto != null ? detalledto.planta.nombreComunPlanta : ''"
                (ngModelChange)="SeleccionadaSelectId($event, 'planta')"
              ></ng-select>
              <div class="invalid-feedback">
                <!-- aqui la validación-->
                <span
                  *ngIf="formularioDetalleCausa.get('planta')?.errors?.['required']"
                >
                  Debes seleccionar un nombre de Planta válido</span
                >
              </div>
            </div>
            <div class="form-group mt-2">
              <label for="descripcausa">Enfermedad</label>
              <ng-select
                [items]="listEnfermedad"
                bindLabel="nombreComunEnfermedad"
                placeholder="Seleccione"
                formControlName="enfermedad"
                [class]="esCampoValido('enfermedad')"
                [ngModel]="
                  detalledto != null
                    ? detalledto.enfermedad.nombreComunEnfermedad
                    : ''
                "
                (ngModelChange)="SeleccionadaSelectId($event, 'enfermedad')"
              ></ng-select>
              <div class="invalid-feedback">
                <!-- aqui la validación-->
                <span
                  *ngIf="formularioDetalleCausa.get('enfermedad')?.errors?.['required']"
                >
                  Debes seleccionar una enfermedad válido</span
                >
              </div>
            </div>

            <div class="form-group mt-2">
              <label for="descripcausa">Tipo Causa</label>
              <ng-select
                [items]="listTipoCausa"
                bindLabel="tipoTC"
                placeholder="Seleccione"
                formControlName="tipoCausa"
                [class]="esCampoValido('tipoCausa')"
                [ngModel]="
                  detalledto != null ? detalledto.tipoCausa.tipoTC : ''
                "
                (ngModelChange)="SeleccionadaSelectId($event, 'tipoCausa')"
              ></ng-select>
              <div class="invalid-feedback">
                <!-- aqui la validación-->
                <span
                  *ngIf="formularioDetalleCausa.get('tipoCausa')?.errors?.['required']"
                >
                  Debes seleccionar un tipo de causa válido.</span
                >
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-2">
              <label for="descripcausa">Descripción de la causa</label>
              <textarea
                class="form-control"
                id="descripcausa"
                rows="8.8"
                name="descripcionD"
                formControlName="descripcionD"
                [ngModel]="
                  detalledto != null ? detalledto.descripcionCausa : ''
                "
                [class]="esCampoValido('descripcionD')"
              ></textarea>
              <div class="invalid-feedback">
                <!-- aqui la validación-->
                <span
                  *ngIf="formularioDetalleCausa.get('descripcionD')?.errors?.['required']"
                >
                  Debes escribir una descrripcón válido.</span
                >
              </div>
            </div>
          </div>

          <div class="text-center mb-3 mt-2">
            <!-- Centrar los botones y agregar espacio inferior -->
            <button type="submit" class="btn btnguardarModal" >
              <i class="fas fa-check">  </i>  Guardar
            </button>
            
            <span class="mx-2"></span>
            <!-- Agregar un espacio horizontal entre los botones -->
            <button
              type="button"
              class="btn btnCerrar"
              aria-hidden="true"
              (click)="modal.dismiss('Cross click')"
             >
              <i class=" dripicons-cross" > </i>  Cerrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>

