<div class="table-responsive mb-0 mt-2" >
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table  row-border hover " width="100%" >
    <thead class="tabla" >
      <tr>
        <th >Nombre </th>
        <th >Apellido </th>
        <th >Usuario</th>
        <th >Correo</th>
        <th >Estado</th>
        <th >Rol</th>
        <th >Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of listUsuario ">

        <td>{{usuario.nombre}}</td>
        <td>{{usuario.apellido}}</td>
        <td>{{usuario.correo}}</td>
        <td>{{usuario.usuario}}</td>
        <td>{{usuario.estado}}</td>
        <td>{{usuario.rol}}</td>
        <td class="text-sm-end" >
          <div class="d-flex">
            <div class="col-sm-4"><button type="button" class="btn btnModificar btn-sm mb-2 mr-2 btn-rounded" (click)="ObtenerUsuarioModificar(usuario)"> <i class="fas fa-edit"> </i></button> </div>
            <div class="col-sm-4 mt-1"><button type="button" class="btn btnEliminar btn-sm mb-2 mr-2 btn-rounded" (click)="ObtenerUsuarioEliminar(usuario)"><i class="fas fa-trash-alt" ></i></button></div>
          </div>
          
      </td>
      </tr>
    </tbody>
  </table>
</div>

