<div class="container-fluid">

  <div class="row">
      <div class="col-12">
          <div class="card">


              <div class="card-body">
                  <div class="caja">Tipo De Planta</div>
                  <div class="row mt-4">

                      <!-- end col -->
                      <div class="col-sm-12">
                          <div class="text-sm-end">
                              <div >
                                  <div class="text-sm-end">
                                    <button type="button" class="btn btnguardar btn-sm mb-2 mr-2 btn-rounded" (click)="openModal(content)">
                                      <i class="fas fa-seedling"></i> Nuevo Tipo Planta
                                  </button>
                                  </div>
                              </div>

                          </div>
                      </div>

                  </div>

                      <!-- Contenido del Scroll data -->
                      <app-tabla [listaTipoPlantas]="tipoPlantaList"
                      (ObjetoTipoPlantaEliminar)="eliminarTipoPlanta($event)"
                      (ObjetoTipoPlantaModificar)="modificarTipoPlanta($event,content)"
                       ></app-tabla>

                  </div>
              </div>
          </div>
      </div>
  </div>
  <ng-template #content role="document" let-modal>
       <app-formulario [ModalService]="modalService"
      [formularioTipoPlanta]="formularioTipoPlanta"
      (ObjetoGuardar)="guardarTipoPlanta($event)"
      [leyenda]="leyenda"
      (ObjetoModificar)="modificarTipoPlantaFormulario($event)"></app-formulario>
  </ng-template>
