<div class="container-fluid">

  <div class="row">
      <div class="col-12">
          <div class="card">


              <div class="card-body">
                  <div class="titulo">Tipo De Planta</div>
                  <div class="row mt-4">
                      <div class="col-sm-4">
                          <div class="search-box me-2 mb-2 d-inline-block">
                              <div class="position-relative">
                                 <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term">
                                <i class="bx bx-search-alt search-icon"></i>
                              </div>
                          </div>
                      </div>
                      <!-- end col -->
                      <div class="col-sm-8">
                          <div class="text-sm-end">
                              <app-nuevo [leyenda]="'Guardar'" [titulo]="'Nuevo Tipo Planta'"></app-nuevo>

                          </div>
                      </div>

                  </div>

                      <!-- Contenido del Scroll data -->
                      <app-tabla [tipoPlantaOd]="tipoPlanta" [queryString]="term"></app-tabla>

                  </div>
              </div>
          </div>
      </div>
  </div>
