<div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-soft bg-primary">
              <div class="row">
                <div class="col-8">
                  <div class="text-primary p-4">
                    <h5 class="text-primary"> Restablecer la contraseña</h5>
                    <p>Vuelva a establecer la contraseña.</p>
                  </div>
                </div>
                <div class="col-4 align-self-end">
                  <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                </div>
                
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a routerLink="/">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/minerva2.png" alt="" class="rounded-circle" height="60">
                    </span>
                  </div>
                </a>
              </div>
            <div *ngIf="!showVerificationForm">
              <form class="needs-validation" [formGroup]="resetForm" (ngSubmit)="enviarEmail()" >

                <div class="mt-2 col-sm-12">
                  <label class="control-label" >Correo electrónico <span class="required"></span>
                    <span class="info-icon" data-title="Ingresar un correo electrónico registrado.">?</span> <!-- Icono de información -->
                  </label>
                  <input class="form-control" type="email" id="correo" formControlName="correo"
                    [ngClass]="esCampoValido('correo')"/>
                  <div class="invalid-feedback">
                    <span *ngIf="resetForm.get('correo').hasError('required')">
                      Se requiere un correo electrónico valido
                    </span>
                    <span *ngIf="resetForm.get('correo').hasError('email')">
                      Por favor, ingresa un formato de correo electrónico válido
                    </span>
                    <span *ngIf="resetForm.get('correo').hasError('espaciosVacios')">
                      No se permiten espacios en blanco como valor
                    </span>
                  </div>        
                </div>
                <div class="text-end mt-2">
                  <button class="btn btn-primary w-md" type="submit">Enviar código</button>
                </div>
              </form>
            </div>
            <div *ngIf="showVerificationForm">
              <form class="needs-validation" name="verificationForm" [formGroup]="verificationForm" (ngSubmit)="onVerifyCode()" novalidate>
                <div class="mb-3">
                  <label for="codigoVerificiacion">Código de Verificación<span class="required"></span>
                    <span class="info-icon" data-title="Código de verificación enviado al correo electrónico, código válido por 15 minutos.">?</span> <!-- Icono de información -->
                  </label>
                  <input type="text" formControlName="codigoVerificiacion" class="form-control" id="codigoVerificiacion" placeholder="Código de Verificación" 
                    [ngClass]="esCampoValido('codigoVerificiacion')" />
                    <div class="invalid-feedback">
                      <span *ngIf="verificationForm.get('codigoVerificiacion').hasError('required')">
                        Se requiere el código de Verificación
                      </span>
                      <span *ngIf="verificationForm.get('codigoVerificiacion').hasError('espaciosVacios')">
                        No se permiten espacios en blanco como valor
                      </span>
                    </div>   
                </div>
                <label for="nuevaClave">Nueva Contraseña<span class="required"></span>
                  <span class="info-icon" data-title="Ingresar una nueva contraseña.">?</span> <!-- Icono de información -->
                </label>
                <div class="mb-3 input-group">
                  
                  <input [type]="tipo" formControlName="nuevaClave" class="form-control" id="nuevaClave" placeholder="Nueva Contraseña" 
                  [ngClass]="esCampoValido('nuevaClave')" />
                  <div class="invalid-feedback">
                    <span *ngIf="verificationForm.get('nuevaClave').hasError('required')">
                      Se requiere la nueva clave
                    </span>
                    <span *ngIf="verificationForm.get('nuevaClave').hasError('espaciosVacios')">
                      No se permiten espacios en blanco como valor
                    </span>
                  </div>
                  <div class="input-group-append"> <!-- Agregamos un div para el botón de ojo -->
                    <button class="btn btn-light" type="button" id="password-addon" (click)="mostrarPassword()"><i class="mdi mdi-eye-outline"></i></button>
                  </div> 
                </div>
            
                <div class="text-end">
                  <button class="btn btn-primary w-md" type="submit">Validar y Guardar Contraseña</button>
                </div>
              </form>
            </div>
            </div> <!-- end card-body-->
          </div>
          <!-- end card -->
          <div class="mt-5 text-center">
            <p>¿Recordo la contraseñan? <a routerLink="/login" class="fw-medium text-primary"> Iniciar sesión</a> </p>
            <p>{{year}} © UES.Universidad de El Salvador, Facultad de Ciencias Agronómicas</p>
          </div>
  
        </div> <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end page -->