<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="caja">ENFERMEDAD</div>
                    <div class="row mt-4">
                        <!-- end col -->
                        <div class="col-sm-12">
                            <div class="text-sm-end">
                                    <div class="text-sm-end">
                                        <button type="button" class="btn btnguardar btn-sm mb-2 mr-2 btn-rounded "
                                            (click)="openModal(content)">
                                            <i class="fas fa-seedling"> </i> Nueva enfermedad
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                        <!-- Contenido del Scroll data -->
                       <app-tabla [listaEnfermedades]="enfermedadList" 
                       (ObjetoEnfermedadEliminar)="eliminarEnfermedad($event)"
                       (ObjetoEnfermedadModificar)="modificarEnfermedad($event,content)"></app-tabla>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #content role="document" let-modal>
        <app-formulario [ModalService]="modalService" 
        [formularioEnfermedad]="formularioEnfermedad"
        (ObjetoGuardar)="guardarEnfermedad($event)" 
        [leyenda]="leyenda"
        (ObjetoModificar)="modificarEnfermedadFormulario($event)"
        [imagen]="imagen"
        [archivo]="archivo"></app-formulario>
    </ng-template>