<div class="container-fluid">
    
    <div class="row">
        <div class="col-12">
            <div class="card">
               

                <div class="card-body">
                    <div class="titulo">ENFERMEDAD</div>
                    <div class="row mt-4">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Search..." >
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-sm-8">
                            <div class="text-sm-end">
                                <div >
                                    <div class="text-sm-end">
                                        <button type="button" class="btn btn-success btn-rounded mb-2 mr-2"
                                            (click)="openModal(content)">
                                            <i class="fas fa-user-plus"> </i> Nueva enfermedad
                                        </button>
                                    </div>
                                </div> 
                                
                            </div>
                        </div>
                        
                    </div>

                        <!-- Contenido del Scroll data -->
                       <app-tabla [listaEnfermedades]="enfermedadList" 
                       (ObjetoEnfermedadEliminar)="eliminarEnfermedad($event)"
                       (ObjetoEnfermedadModificar)="modificarEnfermedad($event,content)"></app-tabla>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #content role="document" let-modal>
        <app-formulario [ModalService]="modalService" 
        [formularioEnfermedad]="formularioEnfermedad"
        (ObjetoGuardar)="guardarEnfermedad($event)" 
        [leyenda]="leyenda"
        (ObjetoModificar)="modificarEnfermedadFormulario($event)"
        [imagen]="imagen"
        [archivo]="archivo"></app-formulario>
    </ng-template>