<div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="col-lg-12">
          <div class="row" *ngIf="tratamiento">
            <div class="card-body">
              <h2 class="card-title mb-4 text-center">TRATAMIENTO DE LA PLANTA</h2>
              <p class="card-title  text-center">{{ tratamiento.nombrePesticidaTratamiento }}</p>
            </div>
  
            <div class="card product-card">
              <div class="card-body">
                <div class="product-img position-relative">
                  <div class=" text-justifity">
                     <img [src]="tratamiento.urlTratamiento" class="img-fluid mx-auto d-block card-image">
                    <p><strong>Descripción del tratamiento:</strong> {{ tratamiento.descripcionTratamiento }}</p>
                    <p><strong>Indicaciones de uso:</strong> {{ tratamiento.indicacionesTratamiento }}</p>
                    <p><strong>Modo de aplicación:</strong> {{ tratamiento.aplicacionTratamiento }}</p>
                    <p><strong>Tipo de tratamiento:</strong> {{ tratamiento.tipoTratamiento }}</p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <h5 class="mb-4 text-dark">
              Enfermedades en {{ tratamiento.nombrePesticidaTratamiento }}:
            </h5>

            <div *ngIf="listEnfermedades && listEnfermedades.length > 0">
              <div
                class="media border-bottom"
                *ngFor="let enfermedadConsulta of listEnfermedades"
              >
                <div class="media-body">
                  <h5 class="mt-0 mb-1 font-size-15">
                    <a
                    [routerLink]="['../../../consultaEnfermedades/detalle',enfermedadConsulta.idenfermedad]"
                      href="javascript: void(0);"
                      class="text-dark"
                      >{{ enfermedadConsulta.nombrecomunenfermedad }}</a
                    >
                  </h5>
                </div>
                <!-- Agrega cualquier otra información de la causa que desees mostrar -->
              </div>
            </div>
            <div *ngIf="!listEnfermedades || listEnfermedades.length === 0">
              <p>No se encontraron enfermedades para esta planta.</p>
            </div>
          </div>
          <div class="mt-3">
            <h5 class="mb-4 text-dark">
              Plantas en {{ tratamiento.nombrePesticidaTratamiento }}:
            </h5>

            <div *ngIf="listEnfermedades && listEnfermedades.length > 0">
              <div
                class="media border-bottom"
                *ngFor="let enfermedadConsulta of listEnfermedades"
              >
                <div class="media-body">
                  <h5 class="mt-0 mb-1 font-size-15">
                    <a
                    [routerLink]="['../../../consultaPlantas/detalle',enfermedadConsulta.idplanta]"
                      href="javascript: void(0);"
                      class="text-dark"
                      >{{enfermedadConsulta.nombrecomunplanta}}</a
                    >
                  </h5>
                </div>
                <!-- Agrega cualquier otra información de la causa que desees mostrar -->
              </div>
            </div>
            <div *ngIf="!listEnfermedades || listEnfermedades.length === 0">
              <p>No se encontraron detalles de causa para esta planta.</p>
            </div>
          </div>
          <!-- end row -->
        </div>
      </div>
      <!-- end row -->
      
    </div>
  </div>