.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px; /* Puedes ajustar este valor según tus necesidades */
}

.botones{
  align-items: center;
}


  
.tabla{
  background-color: #fff;
  color: #152536;
}

.btnEliminar{
  background-color: #903B28;
  color: white;
  width: 100px;
 
}
.btnModificar{
  background-color: #3388B8;
  color: white;
  width: 100px;
  margin-right: 10px;
}
/* @media screen and (max-width: 440px) {

  .btnEliminar{
      background-color: #903B28;
      color: white;
      width: 50px;
     
  }
} */
/* Estilo para truncar texto */
/* .truncate-text {
  max-width: 200px; // Define el ancho máximo para la celda 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
