/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* You can add global styles to this file, and also import other style files */
.modal-holder {
  animation-name: example;
  animation-duration: 0.3s;
}

@keyframes example {
  0% {
    transform: scale(0.5)
  }

  100% {
    transform: scale(1)
  }
}

.carousel-item {
  transition: opacity 0.7s ease !important;
  position: absolute !important;
  display: block !important;
  opacity: 0;
}

.carousel-item.active {
  position: relative !important;
  opacity: 1;
}

.tabla{
  background-color: #fff;
  color: #152536;
}

.btnModificar{
  background-color: #146C43;
  color: white;
  outline: none;
  border-radius: 4px;
  border:none;
  padding: 10px;
  width: 100px;
}
.btnEliminar{
  background-color: #903B28;
  color: white;
  outline: none;
  border-radius: 8px;
  border:none;
  padding: 10px;
  width: 100px;
}

/* Estilo para truncar texto */
.truncate-text {
  max-width: 200px; /* Define el ancho máximo para la celda */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




