<!-- Modal -->

  <h5 class="caja text-center mt-4">{{leyenda}} Tratamiento</h5>
<div class="modal-body">
  <form [formGroup]="formularioTratamiento">
    <div class="row">
 
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Nombre Pesticida/Tratamiento</label>
        <input
          class="form-control"
          type="text"
          id="nombrePesticidaTratamiento"
          formControlName="nombrePesticidaTratamiento"
          [ngClass]="esCampoValido('nombrePesticidaTratamiento')"
        />
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('nombrePesticidaTratamiento')?.errors?.['required']"
            >Requiere una nombre de Pesticida ó Tratamiento</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Descripción del Tratamiento</label>
        <textarea
          class="form-control"
          type="text"
          id="descripcionTratamiento"
          formControlName="descripcionTratamiento"
          [ngClass]="esCampoValido('descripcionTratamiento')"
        ></textarea>
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('descripcionTratamiento')?.errors?.['required']"
            >Requiere una descripcion del Tratamiento</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Aplicación del Tratamiento</label>
        <textarea
          class="form-control"
          type="text"
          id="aplicacionTratamiento"
          formControlName="aplicacionTratamiento"
          [ngClass]="esCampoValido('aplicacionTratamiento')"
        ></textarea>
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('aplicacionTratamiento')?.errors?.['required']"
            >Requiere de aplicación de Tratamiento</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Indicaciones del Tratamiento</label>
        <textarea
          class="form-control"
          type="text"
          id="indicacionesTratamiento"
          formControlName="indicacionesTratamiento"
          [ngClass]="esCampoValido('indicacionesTratamiento')"
        ></textarea>
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('indicacionesTratamiento')?.errors?.['required']"
            >Requiere de indicaciones de Tratamiento</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Tipo de Tratamiento</label>
        <input
          class="form-control"
          type="text"
          id="tipoTratamiento"
          formControlName="tipoTratamiento"
          [ngClass]="esCampoValido('tipoTratamiento')"
        />
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('tipoTratamiento')?.errors?.['required']"
            >Requiere de un tipo de Tratamiento</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Seleccionar Imagen Tratamiento</label>
        <input
          class="form-control"
          type="file"
          id="urlTratamiento"
          accept="image/*"
          formControlName="urlTratamiento"
          (change)="SeleccionarImagen($event)"
          [ngClass]="esCampoValido('urlTratamiento')"
        />
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('urlTratamiento')?.errors?.['required']"
            >Requiere una imagen de Pesticida ó Tratamiento</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <img
          width="100px"
          height="100px"
          class="img-fluid"
          [src]="imagenMostrar"
          *ngIf="imagenMostrar != undefined"
        />
      </div>
    </div>
    <!-- <div class="row mt-3">
      <div class="mt-1 col-6">
        <button
          type="button"
          class="verdeOscuro"
          id="btn-save-event"
          (click)="guardar()"
          *ngIf="leyenda=='Registrar'"
        >
          Guardar
        </button>
        <button
        type="button"
        class="btn btn-warning"
        id="btn-warning-event"
        (click)="modificar()"
        *ngIf="leyenda=='Modificar'"
      >
        Modificar
      </button>
      </div>
      <div class="mt-1 col-6">
        <button
          type="button"
          class="rojoOscuro"
          id="btn-save-event"
          (click)="cerrarModal()"
        >
          Cerrar
        </button>
      </div>
   
    </div>
   -->
   <div class="text-center mb-3 mt-2"> <!-- Centrar los botones y agregar espacio inferior -->
    <button type="button" class="btn btn-success " (click)="guardar()" *ngIf="leyenda=='Registrar'"><i class="fas fa-check"></i>Guardar</button>
    <button type="button" class="btn btn-success " *ngIf="leyenda=='Modificar'" (click)="modificar()"><i class="fas fa-check" ></i>{{leyenda}}</button>
    <span class="mx-2"></span> <!-- Agregar un espacio horizontal entre los botones -->
    <button type="button" class="btn btn-primary " aria-hidden="true"(click)="cerrarModal()"><i class="fas fa-long-arrow-alt-right"></i>cerrar</button>
</div>
  </form>
</div>
<!-- Modal -->
