<div class="modal-body">
  <h5 class="cajaModal text-center mt-4 texto-mayusculas">
    {{ leyenda }} Tratamiento
  </h5>
  <form [formGroup]="formularioTratamiento">
    <div class="row">
    
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Nombre Pesticida/Tratamiento</label>
        <i class="fas fa-solid fa-question" data-bs-toggle="tooltip" data-bs-placement="top" title=" El campo se debe ingresar el nombre del pesticida quimicos usado o el tratamiento natural elaborado">
        </i>
        <input
          class="form-control"
          type="text"
          id="nombrePesticidaTratamiento"
          formControlName="nombrePesticidaTratamiento"
          [ngClass]="esCampoValido('nombrePesticidaTratamiento')"
        />
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('nombrePesticidaTratamiento')?.errors?.['required']"
            >Requiere una nombre de Pesticida ó Tratamiento</span
          >
          <span
          *ngIf="formularioTratamiento.get('nombrePesticidaTratamiento')?.errors?.['minlength']"
          >tamaño minimo de nombre de Pesticida ó Tratamiento es de 3 caracteres</span
        >
        <span
          *ngIf="formularioTratamiento.get('nombrePesticidaTratamiento')?.errors?.['maxlength']"
          >tamaño maximo de nombre de Pesticida ó Tratamiento es de 100 caracteres</span
        >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Descripción del Tratamiento</label>
        <i class="fas fa-solid fa-question" data-bs-toggle="tooltip" data-bs-placement="top" title=" El campo se describe el tratamiento o pesticida, por ejemplo el uso que se le da y para que cultivo o cultivos es usado">
        </i>
        <textarea
          class="form-control"
          type="text"
          id="descripcionTratamiento"
          formControlName="descripcionTratamiento"
          [ngClass]="esCampoValido('descripcionTratamiento')"
        ></textarea>
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('descripcionTratamiento')?.errors?.['required']"
            >Requiere una descripcion del Tratamiento</span
          >
          <span
            *ngIf="formularioTratamiento.get('descripcionTratamiento')?.errors?.['minlength']"
            >tamaño minimo de descripcion del Tratamiento es de 10 caracteres</span
          >
          <span
            *ngIf="formularioTratamiento.get('descripcionTratamiento')?.errors?.['maxlength']"
            >tamaño maximo de descripcion del Tratamiento es de 250 caracteres</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Aplicación del Tratamiento</label>
        <i class="fas fa-solid fa-question" data-bs-toggle="tooltip" data-bs-placement="top" title=" El campo se debe colocar la preparacion del tratamiento, por ejemplo la cantidad diluida en agua y cuantos metros va utilizar">
        </i>
        <textarea
          class="form-control"
          type="text"
          id="aplicacionTratamiento"
          formControlName="aplicacionTratamiento"
          [ngClass]="esCampoValido('aplicacionTratamiento')"
        ></textarea>
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('aplicacionTratamiento')?.errors?.['required']"
            >Requiere de aplicación de Tratamiento</span
          >
          <span
            *ngIf="formularioTratamiento.get('aplicacionTratamiento')?.errors?.['minlength']"
            >tamaño minimo de aplicación de Tratamiento es de 10 caracteres</span
          >
          <span
            *ngIf="formularioTratamiento.get('aplicacionTratamiento')?.errors?.['maxlength']"
            >tamaño maximo de aplicación de Tratamiento es de 250 caracteres</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Indicaciones del Tratamiento</label>
        <i class="fas fa-solid fa-question" data-bs-toggle="tooltip" data-bs-placement="top" title=" El campo detalla las indicaciones que posee el tratamiento, por ejemplo usar en cultivos de tomates">
        </i>
        <textarea
          class="form-control"
          type="text"
          id="indicacionesTratamiento"
          formControlName="indicacionesTratamiento"
          [ngClass]="esCampoValido('indicacionesTratamiento')"
        ></textarea>
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('indicacionesTratamiento')?.errors?.['required']"
            >Requiere de indicaciones de Tratamiento</span
          >
          <span
            *ngIf="formularioTratamiento.get('indicacionesTratamiento')?.errors?.['minlength']"
            >tamaño minimo de indicaciones de Tratamiento es de 10 caracteres</span
          >
          <span
            *ngIf="formularioTratamiento.get('indicacionesTratamiento')?.errors?.['maxlength']"
            >tamaño maximo de indicaciones de Tratamiento es de 250 caracteres</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Tipo de Tratamiento</label>
        <i class="fas fa-solid fa-question" data-bs-toggle="tooltip" data-bs-placement="top" title=" El campo debe especificar si es herbicida, pesticida, plagicida, tratamiento natural, etc">
        </i>
        <input
          class="form-control"
          type="text"
          id="tipoTratamiento"
          formControlName="tipoTratamiento"
          [ngClass]="esCampoValido('tipoTratamiento')"
        />
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('tipoTratamiento')?.errors?.['required']"
            >Requiere de un tipo de Tratamiento</span
          >
          <span
            *ngIf="formularioTratamiento.get('tipoTratamiento')?.errors?.['minlength']"
            >tamaño minimo de tipo de Tratamiento es de 5 caracteres</span
          >
          <span
            *ngIf="formularioTratamiento.get('tipoTratamiento')?.errors?.['maxlength']"
            >tamaño maximo de tipo de Tratamiento es de 20 caracteres</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <label class="control-label">Seleccionar Imagen Tratamiento</label>
        <i class="fas fa-solid fa-question" data-bs-toggle="tooltip" data-bs-placement="top" title=" El campo debe cargar una imagen de su computadora que describa el tratamiento ingresado">
        </i>
        <input
          class="form-control"
          type="file"
          id="urlTratamiento"
          accept="image/*"
          formControlName="urlTratamiento"
          (change)="SeleccionarImagen($event)"
          [ngClass]="esCampoValido('urlTratamiento')"
        />
        <div class="invalid-feedback">
          <span
            *ngIf="formularioTratamiento.get('urlTratamiento')?.errors?.['required']"
            >Requiere una imagen de Pesticida ó Tratamiento</span
          >
        </div>
      </div>
      <div class="mt-1 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
        <img
          width="100px"
          height="100px"
          class="img-fluid"
          [src]="imagenMostrar"
          *ngIf="imagenMostrar != undefined"
        />
      </div>
    </div>
    <div class="text-center mb-3 mt-2">
      <!-- Centrar los botones y agregar espacio inferior -->
      <button
        type="button"
        class="btn btnguardarModal"
        (click)="guardar()"
        *ngIf="leyenda == 'Registrar'"
      >
        <i class="fas fa-check"></i>Guardar
      </button>
      <button
        type="button"
        class="btn btnguardarModal"
        *ngIf="leyenda == 'Modificar'"
        (click)="modificar()"
      >
        <i class="fas fa-check"></i>{{ leyenda }}
      </button>
      <span class="mx-2"></span>
      <!-- Agregar un espacio horizontal entre los botones -->
      <button
        type="button"
        class="btn btnCerrar"
        aria-hidden="true"
        (click)="cerrarModal()"
      >
        <i class="dripicons-cross"></i>cerrar
      </button>
    </div>
  </form>
</div>
<!-- Modal -->
