<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="caja">REPORTES DEL SISTEMA</div>
                    <div class="table-responsive mb-0 mt-2">
                        <table datatable [dtOptions]="dtOptions"  class="table  row-border hover " style="width:100%">
                        <thead class="tabla" >
                          <tr>
                            <th>Lista de Reportes</th>
                            <th >Descargar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Enfermedad mas contagiosa</td>
                            <td>
                              <div class="d-flex">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"><button type="button" class="btn btn-success btn-sm mb-2 mr-2 btn-rounded" (click)="descargarPdf('pdfEnfermedadMasContagiosa')"> <i class="dripicons-arrow-down"> </i></button> </div>
                              </div>
                          </td>
                          </tr>
                          <tr>
                            <td>Enfermedades que no tienen cura</td>
                            <td>
                              <div class="d-flex">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"><button type="button" class="btn btn-success btn-sm mb-2 mr-2 btn-rounded" (click)="descargarPdf('pdfEnfermedadSinCura')"> <i class="dripicons-arrow-down"> </i></button> </div>
                              </div>
                          </td>
                          </tr>
                          <tr>
                            <td>Enfermedades menos comunes</td>
                            <td>
                              <div class="d-flex">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"><button type="button" class="btn btn-success btn-sm mb-2 mr-2 btn-rounded" (click)="descargarPdf('pdfEnfermedadMenosContagiosa')"> <i class="dripicons-arrow-down"> </i></button> </div>
                              </div>
                          </td>
                          </tr>
                          <tr>
                            <td>Enfermedades mas comunes</td>
                            <td>
                              <div class="d-flex">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"><button type="button" class="btn btn-success btn-sm mb-2 mr-2 btn-rounded" (click)="descargarPdf('pdfEnfermedadesComunes')"> <i class="dripicons-arrow-down"> </i></button> </div>
                              </div>
                          </td>
                        </tr>
                        <tr>
                          <td >Enfermedades de una planta especifica
                          </td>
                          <td>
                            <div class="d-flex">
                              <div class="col-sm-6">
                                <select class="form-control" [(ngModel)]="idplanta">
                                  <option *ngFor="let planta of listPlantas" [value]="planta.idplanta">{{planta.nombreplantacomun}}</option>
                                </select>
                              </div>
                              <div class="col-sm-6 mt-1"><button type="button" class="btn btn-success btn-sm mb-2 mr-2 btn-rounded" (click)="descargarPdfParametro('pdfEnfermedadesDeUnaPlanta')"> <i class="dripicons-arrow-down"> </i></button> </div>
                            </div>
                        </td>
                          </tr>
                        </tbody>
                        </table>
                    </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>