<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="caja">REPORTES DEL SISTEMA</div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mt-2 text-center">
                <h5 class="mb-4 text-muted">Enfermedades más contagiosas</h5>
              </div>
              <div class="mt-4 text-center">
                <div class="">
                  <div class="">
                    <button
                      type="button"
                      class="btn btn-success btn-sm mb-2 mr-2 btn-rounded"
                      (click)="descargarPdf('pdfEnfermedadMasContagiosa')"
                    >
                      <i class="dripicons-arrow-down"> </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mt-2 text-center">
                <h5 class="mb-4 text-muted">
                  Enfermedades que no tienen tratamiento
                </h5>
              </div>
              <div class="mt-4 text-center">
                <div class="">
                  <div class="">
                    <button
                      type="button"
                      class="btn btn-success btn-sm mb-2 mr-2 btn-rounded"
                      (click)="descargarPdf('pdfEnfermedadSinCura')"
                    >
                      <i class="dripicons-arrow-down"> </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="product-img position-relative col-sm-6">
              <div class="mt-2 text-center">
                <h5 class="mb-4 text-muted">Enfermedades menos comunes</h5>
              </div>
              <div class="mt-4 text-center">
                <div class="">
                  <div class="">
                    <button
                      type="button"
                      class="btn btn-success btn-sm mb-2 mr-2 btn-rounded"
                      (click)="descargarPdf('pdfEnfermedadMenosContagiosa')"
                    >
                      <i class="dripicons-arrow-down"> </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mt-2 text-center">
                <h5 class="mb-4 text-muted">Enfermedades más comunes</h5>
              </div>
              <div class="mt-4 text-center">
                <div class="mt-2 text-center">
                  <div class="">
                    <button
                      type="button"
                      class="btn btn-success btn-sm mb-2 mr-2 btn-rounded"
                      (click)="descargarPdf('pdfEnfermedadesComunes')"
                    >
                      <i class="dripicons-arrow-down"> </i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
