
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-4 text-center">Información de la Enfermedad</h2>
          <div class="row">
            <!-- <div class="col-md-5 d-flex justify-content-center"> -->
            <div class="col-md-5">
              <img [src]="planta.urlPlanta" class="img-fluid" alt="Imagen de la planta">
            </div>
            <div class="col-md-7">
              <p class="text-muted mb-4"><strong>Nombre Común:</strong> ({{ planta.nombreComunPlanta }})</p>
              <p class="text-muted mb-4"><strong>Nombre Científico:</strong> ({{planta.nombreCientificoPlanta}})</p>
              <p class="text-muted mb-4"><strong>Familia:</strong> {{ planta.familia.nombreFamilia }}</p>
              <p class="text-muted mb-4"><strong>Tipo de Planta:</strong>{{ planta.tipoPlanta.tipoPlanta }}</p>
            </div>
          </div>
            <div class="col-md-12 mt-4">
              <p class="text-muted mb-4"><strong>Descripción:</strong> {{ planta.historia }}</p>
              <p class="text-muted mb-4"><strong>Síntomas:</strong> {{ planta.descripcionPlanta }}</p>
            </div>
            <div class="mt-3">
              <h5 class="mb-4 text-dark">
                Enfermedades en {{ planta.nombreComunPlanta }}:
              </h5>

              <div *ngIf="detallesCausa && detallesCausa.length > 0">
                <div
                  class="media border-bottom"
                  *ngFor="let detalle of detallesCausa"
                >
                  <div class="media-body">
                    <h5 class="mt-0 mb-1 font-size-15">
                      <a
                      [routerLink]="['../../../consultaEnfermedades/detalle',detalle.enfermedad.idEnfermedad]"
                        href="javascript: void(0);"
                        class="text-dark"
                        >{{ detalle.enfermedad.nombreComunEnfermedad }}</a
                      >
                    </h5>
                    <p class="text-muted">
                      La enfermedad se manifiesta por la presencia de : {{ detalle.tipoCausa.tipoTC }}.
                    </p>
                    <p class="text-muted">
                      Descripción: {{ detalle.descripcionCausa }}.
                    </p>
                  </div>
                  <!-- Agrega cualquier otra información de la causa que desees mostrar -->
                </div>
              </div>
              <div *ngIf="!detallesCausa || detallesCausa.length === 0">
                <p>No se encontraron detalles de causa para esta planta.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
